body {
  background-color: rgb(255, 232, 232);
  color: brown;
  font-size: larger;
}

h1 {
  text-align: center;
  color: rgb(117, 42, 8);
  text-shadow: -2px 2px 3px #533a30;
}

#heading {
  background-color: white;
  font-size: 20px;
  padding: 10px 15px;
  line-height: 1;
  border-radius: 30px;
  outline: 2px dotted #630a19;
}

.container {
  width: 85%;
  margin: auto;
}
